*,*::after,*::before{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body,.App,#root{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    position: relative;
}
.link{
    position: absolute;
    top: 1em;
    right: 2em;
}
.fact{
    margin: 2em 0;
}