*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
.App,
#root {
  font-family: "Roboto", sans-serif;
  background-color: rgb(87, 8, 99);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.2em;
}
.container {
  width: 100%;
  max-width: 500px;
  background-color: rgb(35, 8, 39);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  position: relative;
  color: #fff;
}
.link {
  position: absolute;
  top: 1em;
  right: 2em;
  text-decoration: none;
  color: rgb(236, 86, 216);
}
.link:hover {
  color: rgb(180, 171, 180);
  text-decoration: underline;
}
.fact {
  margin: 2em 0;
  color: #fff;
}
.list {
  display: grid;
  justify-content: center;
  gap: 1em;
  padding: 0 2em;
}
li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  gap: 2em;
  width: 100%;
  background-color: rgb(49, 37, 51);
  color: #fff;
  padding: 1em;
  border-radius: 10px;
}
.home {
  position: absolute;
  top: 2em;
  left: 2em;
}
.getfact {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 0;
  background-color: purple;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
.getfact:hover {
  background-color: #fff;
  color: purple;
}
.date{
    color: rgb(196, 0, 65);
}
@media (min-width: 40rem) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 60rem) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
